In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
trade_df = pd.read_csv('Train_KOTRA_0525.csv')
test_df = pd.read_csv('Test_KOTRA_0525.csv')

## 데이터 전처리

In [3]:
trade_df.head(1)

,UNC_YEAR,HSCD,COUNTRYCD,COUNTRYNM,TRADE_COUNTRYCD,TRADE_HSCD,TARIFF_AVG,SNDIST,NY_GDP_MKTP_CD,NY_GDP_MKTP_CD_1Y,SP_POP_TOTL,PA_NUS_FCRF,IC_BUS_EASE_DFRN_DB,KMDIST,TRADE_HSCD_COUNTRYCD,KR_TRADE_HSCD_COUNTRYCD
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.10981,9954.009766,3416326.0,7657

In [4]:
trade_df.columns=['기준연도', '품목코드', '국가코드', '국가명', '국가 전체 품목 수입금액', '해당 품목 전세계 총 수입금액','해당 국가 해당 품목 관세율', '수입국가 간 평균 거리','GDP', '이전 GDP', '인구', '공식환율', '비즈니스 용이성점수', '해당 국가와 한국과의 거리','해당 연도 해당 국가의 해당 품목 수입금액', '내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액']
test_df.columns=['기준연도', '품목코드', '국가코드', '국가명', '국가 전체 품목 수입금액', '해당 품목 전세계 총 수입금액','해당 국가 해당 품목 관세율', '수입국가 간 평균 거리','GDP', '이전 GDP', '인구', '공식환율', '비즈니스 용이성점수', '해당 국가와 한국과의 거리','해당 연도 해당 국가의 해당 품목 수입금액', '내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액']

In [5]:
trade_df.head(1)

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.10981,9954.009766,3416326.0,7657

In [6]:
trade_df.isna().sum()

기준연도                                 0
품목코드                                 0
국가코드                                 0
국가명                                  0
국가 전체 품목 수입금액                        0
해당 품목 전세계 총 수입금액                     0
해당 국가 해당 품목 관세율                    129
수입국가 간 평균 거리                        22
GDP                                  0
이전 GDP                               0
인구                                   0
공식환율                              3488
비즈니스 용이성점수                           0
해당 국가와 한국과의 거리                       0
해당 연도 해당 국가의 해당 품목 수입금액             21
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액       0
dtype: int64

### '공식환율' 결측치 채우기

In [7]:
trade_df['공식환율']=trade_df['공식환율'].fillna(1.1390)
# 유로존 국가 결측치를 유로로 채웠음

In [8]:
trade_df['공식환율']

0        110.973017
1          1.304758
2          1.139000
3          1.139000
4          3.191389
            ...
21184      3.672500
21185      3.648133
21186     17.782534
21187      0.776977
21188      1.000000
Name: 공식환율, Length: 21189, dtype: float64

In [9]:
trade_df.isna().sum()

기준연도                                0
품목코드                                0
국가코드                                0
국가명                                 0
국가 전체 품목 수입금액                       0
해당 품목 전세계 총 수입금액                    0
해당 국가 해당 품목 관세율                   129
수입국가 간 평균 거리                       22
GDP                                 0
이전 GDP                              0
인구                                  0
공식환율                                0
비즈니스 용이성점수                          0
해당 국가와 한국과의 거리                      0
해당 연도 해당 국가의 해당 품목 수입금액            21
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      0
dtype: int64

### '수입국가 간 평균거리' 결측치 채우기

In [10]:
nations = list(trade_df[trade_df['수입국가 간 평균 거리'].isnull()]['국가명'].unique())

In [11]:
nations

['Kuwait',
 'China, Hong Kong SAR',
 'Saudi Arabia',
 'Australia',
 'Iran',
 'United Kingdom',
 'Mexico',
 'Philippines',
 'Singapore',
 'Viet Nam',
 'Egypt']

In [12]:
# 평균거리 구해보기

# b=list()
# for nation in lists:
#     a=trade_df[trade_df['국가명']=='{}'.format(nation)]['수입국가 간 평균 거리'].mean()
#     b.append(a)
# b

In [13]:
trade_df[trade_df['수입국가 간 평균 거리'].isna()]['국가명'].value_counts

<bound method IndexOpsMixin.value_counts of 20                     Kuwait
62                     Kuwait
105                    Kuwait
269      China, Hong Kong SAR
486                    Kuwait
529                    Kuwait
1090             Saudi Arabia
3642                Australia
10247                    Iran
13068          United Kingdom
21125                  Mexico
21131             Philippines
21134            Saudi Arabia
21136               Singapore
21137                Viet Nam
21143                   Egypt
21168                  Mexico
21174             Philippines
21177            Saudi Arabia
21179               Singapore
21180                Viet Nam
21186                   Egypt
Name: 국가명, dtype: object>

In [14]:
for nation in nations:
    condition1 = condition1 = (trade_df['수입국가 간 평균 거리'].isna())
    
    condition2 = (trade_df['국가명'] == '{}'.format(nation))
    
    trade_df.loc[condition1 & condition2, ['수입국가 간 평균 거리']] = trade_df[trade_df['국가명']=='{}'.format(nation)]['수입국가 간 평균 거리'].mean()

In [15]:
trade_df[['수입국가 간 평균 거리']].tail()

       수입국가 간 평균 거리
21184   5643.250737
21185   4123.461111
21186   4604.919733
21187   4071.487776
21188   8356.072383

### 관세율 채우기

In [16]:
trade_df.isna().sum()

기준연도                                0
품목코드                                0
국가코드                                0
국가명                                 0
국가 전체 품목 수입금액                       0
해당 품목 전세계 총 수입금액                    0
해당 국가 해당 품목 관세율                   129
수입국가 간 평균 거리                        0
GDP                                 0
이전 GDP                              0
인구                                  0
공식환율                                0
비즈니스 용이성점수                          0
해당 국가와 한국과의 거리                      0
해당 연도 해당 국가의 해당 품목 수입금액            21
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      0
dtype: int64

In [45]:
trade_df.loc[trade_df['해당 국가 해당 품목 관세율'].isnull()]

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
1283,2017,420232,364,Iran,51612276867,3217791610,NaN,3739.981527,445345256459,417983583566,80673951,33226.298150,55.707860,6562.448242,1.133740e+05,0
6394,2017,999999,36,Australia,228441691195,393706362343,NaN,11614.731270,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,1.144299e+10,350154434
6395,2017,999999,40,Austria,166475020975,393706362343,NaN,4045.065536,417237869116,395568644341,8797566,1.139000,78.856460,8289.029297,5.393853e+08,8340530
6396,2017,999999,56,Belgium,406412223480,393706362343,NaN,5195.196415,502698069367,475739588765,11375158,1.139000,72.409200,8722.114258,4.536502e+09,10968364
6397,2017,999999,104,Myanmar,19253441935,393706362343,NaN,6969.563770,68945867478,67184236747,53382581,1360.358707,42.671390,3796.142578,4.349921e+08,402800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21184,2017,852852,784,United Arab Emirates,270954907547,18327708223,NaN,5643.250737,385605506855,357045064670,9487203,3.672500,77.434350,6909.236328,2.056493e+08,881214
21185,2017,852852,792,Turkey,233799651234,18327708223,NaN,4123.461111,858988610574,869683121563,81101892,3.648133,69.378820,7967.700684,1.330809e+08,9545535
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,4604.919733,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,1.371124e+08,1313545
21187,2017,852852,826,United Kingdom,641332371112,18327708223,NaN,4071.487776,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,1.142794e+09,19876811
21188,2017,852852,842,USA,2405276626657,18327708223,NaN,8356.072383,19519353692000,18714960538000,324985539,1.000000,83.352553,11065.702150,5.496100e+09,152988098

In [17]:
trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]['국가명'].value_counts()

New Zealand             8
Egypt                   4
Peru                    3
Viet Nam                3
Indonesia               3
China, Hong Kong SAR    3
Kazakhstan              3
Spain                   3
Saudi Arabia            3
Switzerland             3
Malaysia                3
Russian Federation      3
Italy                   3
Canada                  3
India                   3
Myanmar                 3
United Kingdom          3
Chile                   3
France                  3
USA                     3
China                   3
Kuwait                  3
Iran                    3
Belgium                 3
Guatemala               3
Turkey                  3
Austria                 3
Japan                   3
Germany                 3
Australia               3
Norway                  3
Netherlands             3
South Africa            3
United Arab Emirates    3
Mexico                  3
Poland                  3
Singapore               3
Algeria                 2
Sri Lanka               2
Mongolia                2
Brazil                  2
Czechia                 2
Philippines             2
Name: 국가명, dtype: int64

In [42]:
test_df[test_df['해당 국가 해당 품목 관세율'].isnull()]['국가명'].unique()

array(['USA', 'China, Hong Kong SAR', 'Australia', 'Austria', 'Belgium',
       'Myanmar', 'Canada', 'Chile', 'China', 'France', 'Germany',
       'Guatemala', 'Indonesia', 'Italy', 'Japan', 'Kazakhstan', 'Kuwait',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway',
       'Peru', 'Poland', 'Russian Federation', 'Saudi Arabia', 'India',
       'Singapore', 'Viet Nam', 'South Africa', 'Spain', 'Switzerland',
       'United Arab Emirates', 'Turkey', 'Egypt', 'United Kingdom',
       'Iran', 'Algeria', 'Brazil', 'Sri Lanka', 'Czechia', 'Mongolia',
       'Philippines'], dtype=object)

### 해당 연도 해당 국가의 해당 품목 수입금액 결측치 찾기

In [18]:
products=list(trade_df[trade_df['해당 연도 해당 국가의 해당 품목 수입금액'].isnull()]['품목코드'])

In [19]:
trade_df[trade_df['해당 연도 해당 국가의 해당 품목 수입금액'].isnull()]['품목코드']

20       190590
62       190230
105      190219
269      540769
486      210690
529      210390
1090     481890
10247    600410
13068    852692
21125    382499
21131    382499
21134    382499
21136    382499
21137    382499
21143    382499
21168    852852
21174    852852
21177    852852
21179    852852
21180    852852
21186    852852
Name: 품목코드, dtype: int64

In [20]:
products=set(products)
products

{190219,
 190230,
 190590,
 210390,
 210690,
 382499,
 481890,
 540769,
 600410,
 852692,
 852852}

In [21]:
trade_df[trade_df['품목코드']==190219]['해당 연도 해당 국가의 해당 품목 수입금액'].median()

27840975.0

In [22]:
trade_df[trade_df['해당 연도 해당 국가의 해당 품목 수입금액'].isnull()]['국가명'].value_counts()

Kuwait                  5
Saudi Arabia            3
Egypt                   2
Mexico                  2
Philippines             2
Viet Nam                2
Singapore               2
China, Hong Kong SAR    1
United Kingdom          1
Iran                    1
Name: 국가명, dtype: int64

In [31]:
# 국가마다 해당 품목 수입금액의 중간값을 결측값에 대입

for product in products:
    condition1 = condition1 = (trade_df['해당 연도 해당 국가의 해당 품목 수입금액'].isna())
    
    condition2 = (trade_df['품목코드'] == product)
    
    trade_df.loc[condition1 & condition2, ['해당 연도 해당 국가의 해당 품목 수입금액']] = trade_df[trade_df['품목코드']==product]['해당 연도 해당 국가의 해당 품목 수입금액'].median()

In [32]:
trade_df.isna().sum()

기준연도                                0
품목코드                                0
국가코드                                0
국가명                                 0
국가 전체 품목 수입금액                       0
해당 품목 전세계 총 수입금액                    0
해당 국가 해당 품목 관세율                   129
수입국가 간 평균 거리                        0
GDP                                 0
이전 GDP                              0
인구                                  0
공식환율                                0
비즈니스 용이성점수                          0
해당 국가와 한국과의 거리                      0
해당 연도 해당 국가의 해당 품목 수입금액             0
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      0
dtype: int64

## 데이터 정제(관세빼고)

In [47]:
del trade_df['해당 국가 해당 품목 관세율']

In [50]:
trade_df.head()

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,2017,190590,12,Algeria,46052990973,19480986257,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3416326.0,7657
1,2017,190590,36,Australia,228441691195,19480986257,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,438747025.0,5294788
2,2017,190590,40,Austria,166475020975,19480986257,4403.247293,417237869116,395568644341,8797566,1.139000,78.856460,8289.029297,453206357.0,335818
3,2017,190590,56,Belgium,406412223480,19480986257,3980.375563,502698069367,475739588765,11375158,1.139000,72.409200,8722.114258,706524512.0,173709
4,2017,190590,76,Brazil,150749493921,19480986257,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,31329648.0,122850

In [51]:
del trade_df['기준연도']
del trade_df['국가명']
trade_df.head()

,품목코드,국가코드,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,190590,12,46052990973,19480986257,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3416326.0,7657
1,190590,36,228441691195,19480986257,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,438747025.0,5294788
2,190590,40,166475020975,19480986257,4403.247293,417237869116,395568644341,8797566,1.139000,78.856460,8289.029297,453206357.0,335818
3,190590,56,406412223480,19480986257,3980.375563,502698069367,475739588765,11375158,1.139000,72.409200,8722.114258,706524512.0,173709
4,190590,76,150749493921,19480986257,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,31329648.0,122850

In [52]:
trade_df.corr()

,품목코드,국가코드,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
품목코드,1.000000,0.000615,-0.000245,0.038486,0.027128,-0.000060,-0.000059,-0.000063,0.001598,0.000497,-0.000284,0.020564,0.006923
국가코드,0.000615,1.000000,0.078164,0.000345,-0.138656,0.096415,0.105019,0.013360,0.020012,0.192130,-0.084461,0.019535,-0.005034
국가 전체 품목 수입금액,-0.000245,0.078164,1.000000,0.000958,-0.008557,0.940387,0.939073,0.493439,-0.130541,0.311971,-0.117085,0.210147,0.068587
해당 품목 전세계 총 수입금액,0.038486,0.000345,0.000958,1.000000,0.022248,0.000525,0.000543,0.000241,0.000441,0.001288,-0.000315,0.382177,0.118663
수입국가 간 평균 거리,0.027128,-0.138656,-0.008557,0.022248,1.000000,0.084350,0.082370,0.040628,-0.060253,0.098110,0.329564,0.016076,0.013533
GDP,-0.000060,0.096415,0.940387,0.000525,0.084350,1.000000,0.999445,0.515988,-0.094275,0.172856,-0.048821,0.198042,0.066424
이전 GDP,-0.000059,0.105019,0.939073,0.000543,0.082370,0.999445,1.000000,0.495525,-0.094111,0.180675,-0.047416,0.198261,0.065138
인구,-0.000063,0.013360,0.493439,0.000241,0.040628,0.515988,0.495525,1.000000,-0.005153,-0.241796,-0.252882,0.081506,0.060801
공식환율,0.001598,0.020012,-0.130541,0.000441,-0.060253,-0.094275,-0.094111,-0.005153,1.000000,-0.257829,-0.200706,-0.026594,0.001681
비즈니스 용이성점수,0.000497,0.192130,0.311971,0.001288,0.098110,0.172856,0.180675,-0.241796,-0.257829,1.000000,0.010821,0.074567,0.005769
해당 국가와 한국과의 거리,-0.000284,-0.084461,-0.117085,-0.000315,0.329564,-0.048821,-0.047416,-0.252882,-0.200706,0.010821,1.000000,-0.016142,-0.027474
해당 연도 해당 국가의 해당 품목 수입금액,0.020564,0.019535,0.210147,0.382177,0.016076,0.198042,0.198261,0.081506,-0.026594,0.074567,-0.016142,1.000000,0.518827
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액,0.006923,-0.005034,0.068587,0.118663,0.013533,0.066424,0.065138,0.060801,0.001681,0.005769,-0.027474,0.518827,1.000000

In [55]:
grouped_trade = trade_df.groupby(trade_df['국가코드'])
grouped_trade