In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
trade_df = pd.read_csv('Train_KOTRA_0525.csv')

In [4]:
trade_df.head(1)

,UNC_YEAR,HSCD,COUNTRYCD,COUNTRYNM,TRADE_COUNTRYCD,TRADE_HSCD,TARIFF_AVG,SNDIST,NY_GDP_MKTP_CD,NY_GDP_MKTP_CD_1Y,SP_POP_TOTL,PA_NUS_FCRF,IC_BUS_EASE_DFRN_DB,KMDIST,TRADE_HSCD_COUNTRYCD,KR_TRADE_HSCD_COUNTRYCD
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.10981,9954.009766,3416326.0,7657

In [5]:
trade_df.columns=['기준연도', '품목코드', '국가코드', '국가명', '국가 전체 품목 수입금액', '해당 품목 전세계 총 수입금액','해당 국가 해당 품목 관세율', '수입국가 간 평균 거리','GDP', '이전 GDP', '인구', '공식환율', '비즈니스 용이성점수', '해당 국가와 한국과의 거리','해당 연도 해당 국가의 해당 품목 수입금액', '내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액']

In [6]:
trade_df.head(1)

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.10981,9954.009766,3416326.0,7657

In [7]:
trade_df.dtypes

기준연도                                int64
품목코드                                int64
국가코드                                int64
국가명                                object
국가 전체 품목 수입금액                       int64
해당 품목 전세계 총 수입금액                    int64
해당 국가 해당 품목 관세율                   float64
수입국가 간 평균 거리                      float64
GDP                                 int64
이전 GDP                              int64
인구                                  int64
공식환율                              float64
비즈니스 용이성점수                        float64
해당 국가와 한국과의 거리                    float64
해당 연도 해당 국가의 해당 품목 수입금액           float64
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      int64
dtype: object

In [8]:
trade_df['공식환율']=trade_df['공식환율'].fillna(1.1390)

In [9]:
trade_df.head(1)
# 유로존 국가 결측치를 유로로 채웠음

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.10981,9954.009766,3416326.0,7657

In [10]:
trade_df.isna().sum()

기준연도                                0
품목코드                                0
국가코드                                0
국가명                                 0
국가 전체 품목 수입금액                       0
해당 품목 전세계 총 수입금액                    0
해당 국가 해당 품목 관세율                   129
수입국가 간 평균 거리                       22
GDP                                 0
이전 GDP                              0
인구                                  0
공식환율                                0
비즈니스 용이성점수                          0
해당 국가와 한국과의 거리                      0
해당 연도 해당 국가의 해당 품목 수입금액            21
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      0
dtype: int64

In [11]:
trade_df[trade_df['해당 연도 해당 국가의 해당 품목 수입금액'].isna()]

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
20,2017,190590,414,Kuwait,33568329846,19480986257,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,793439
62,2017,190230,414,Kuwait,33568329846,2769581143,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,408861
105,2017,190219,414,Kuwait,33568329846,3462108810,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,131252
269,2017,540769,344,"China, Hong Kong SAR",589317409641,1386140142,0.0,NaN,341244161577,320837638329,7391700,7.793250,84.760590,2095.842529,NaN,15008826
486,2017,210690,414,Kuwait,33568329846,35193159486,4.7,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,86226
529,2017,210390,414,Kuwait,33568329846,8495985370,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,208980
1090,2017,481890,682,Saudi Arabia,134519106951,1583958755,5.0,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,214622
10247,2017,600410,364,Iran,51612276867,4375401577,32.0,NaN,445345256459,417983583566,80673951,33226.298150,55.707860,6562.448242,NaN,1181944
13068,2017,852692,826,United Kingdom,641332371112,2820128101,0.0,NaN,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,NaN,384762
21125,2017,382499,484,Mexico,420369113272,28497537218,NaN,NaN,1158913035796,1078490651625,124777324,18.926517,73.394083,12066.007810,NaN,7515491
21131,2017,382499,608,Philippines,101889431966,28497537218,NaN,NaN,328480738147,318627003966,105173264,50.403720,59.258720,2615.750732,NaN,12430235
21134,2017,382499,682,Saudi Arabia,134519106951,28497537218,NaN,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,1013216
21136,2017,382499,702,Singapore,327709659599,28497537218,NaN,NaN,341863349989,318652334419,5612253,1.380925,85.441380,4676.682617,NaN,7135169
21137,2017,382499,704,Viet Nam,213215271369,28497537218,NaN,NaN,223779865815,205276172135,94596642,22370.086670,65.288610,2740.135254,NaN,66398022
21143,2017,382499,818,Egypt,66338749061,28497537218,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1408873
21168,2017,852852,484,Mexico,420369113272,18327708223,NaN,NaN,1158913035796,1078490651625,124777324,18.926517,73.394083,12066.007810,NaN,10459507
21174,2017,852852,608,Philippines,101889431966,18327708223,NaN,NaN,328480738147,318627003966,105173264,50.403720,59.258720,2615.750732,NaN,3262724
21177,2017,852852,682,Saudi Arabia,134519106951,18327708223,NaN,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,241935
21179,2017,852852,702,Singapore,327709659599,18327708223,NaN,NaN,341863349989,318652334419,5612253,1.380925,85.441380,4676.682617,NaN,3941616
21180,2017,852852,704,Viet Nam,213215271369,18327708223,NaN,NaN,223779865815,205276172135,94596642,22370.086670,65.288610,2740.135254,NaN,503029
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1313545

In [ ]:
len(trade_df['품목코드'].unique())

In [ ]:
a = trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]['품목코드'].unique()

In [ ]:
a

In [ ]:
a = list(a)

In [ ]:
print(len(trade_df[trade_df['품목코드']==420232]))
print(len(trade_df[trade_df['품목코드']==999999]))
print(len(trade_df[trade_df['품목코드']==903300]))
print(len(trade_df[trade_df['품목코드']==903290]))
print(len(trade_df[trade_df['품목코드']==903190]))
print(len(trade_df[trade_df['품목코드']==902690]))
print(len(trade_df[trade_df['품목코드']==851690]))
print(len(trade_df[trade_df['품목코드']==847982]))
print(len(trade_df[trade_df['품목코드']==382499]))
print(len(trade_df[trade_df['품목코드']==852852]))

In [ ]:
# continent 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
is_asia = df['continent'] == 'Asia'

# lifeExp 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
lifeExp_greather_80 = df['lifeExp'] >= 80

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
subset_df = df[is_asia & lifeExp_greather_80]

# 결과를 출력합니다.
subset_df

In [12]:
trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].mean()

수입국가 간 평균 거리    5035.583795
dtype: float64

In [13]:
ex_train = trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']]

In [14]:
ex_train[ex_train['수입국가 간 평균 거리'].notnull()].mean()

수입국가 간 평균 거리    5035.583795
dtype: float64

In [15]:
trade_df[trade_df['수입국가 간 평균 거리'].isnull()]

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
20,2017,190590,414,Kuwait,33568329846,19480986257,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,793439
62,2017,190230,414,Kuwait,33568329846,2769581143,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,408861
105,2017,190219,414,Kuwait,33568329846,3462108810,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,131252
269,2017,540769,344,"China, Hong Kong SAR",589317409641,1386140142,0.0,NaN,341244161577,320837638329,7391700,7.793250,84.760590,2095.842529,NaN,15008826
486,2017,210690,414,Kuwait,33568329846,35193159486,4.7,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,86226
529,2017,210390,414,Kuwait,33568329846,8495985370,5.0,NaN,120707220574,109419728567,4056099,0.303350,59.969240,7181.024902,NaN,208980
1090,2017,481890,682,Saudi Arabia,134519106951,1583958755,5.0,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,214622
3642,2017,390120,36,Australia,228441691195,28613887976,0.0,NaN,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,235932886.0,26188552
10247,2017,600410,364,Iran,51612276867,4375401577,32.0,NaN,445345256459,417983583566,80673951,33226.298150,55.707860,6562.448242,NaN,1181944
13068,2017,852692,826,United Kingdom,641332371112,2820128101,0.0,NaN,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,NaN,384762
21125,2017,382499,484,Mexico,420369113272,28497537218,NaN,NaN,1158913035796,1078490651625,124777324,18.926517,73.394083,12066.007810,NaN,7515491
21131,2017,382499,608,Philippines,101889431966,28497537218,NaN,NaN,328480738147,318627003966,105173264,50.403720,59.258720,2615.750732,NaN,12430235
21134,2017,382499,682,Saudi Arabia,134519106951,28497537218,NaN,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,1013216
21136,2017,382499,702,Singapore,327709659599,28497537218,NaN,NaN,341863349989,318652334419,5612253,1.380925,85.441380,4676.682617,NaN,7135169
21137,2017,382499,704,Viet Nam,213215271369,28497537218,NaN,NaN,223779865815,205276172135,94596642,22370.086670,65.288610,2740.135254,NaN,66398022
21143,2017,382499,818,Egypt,66338749061,28497537218,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1408873
21168,2017,852852,484,Mexico,420369113272,18327708223,NaN,NaN,1158913035796,1078490651625,124777324,18.926517,73.394083,12066.007810,NaN,10459507
21174,2017,852852,608,Philippines,101889431966,18327708223,NaN,NaN,328480738147,318627003966,105173264,50.403720,59.258720,2615.750732,NaN,3262724
21177,2017,852852,682,Saudi Arabia,134519106951,18327708223,NaN,NaN,688586244287,644935541446,33099147,3.750000,59.444220,7557.271973,NaN,241935
21179,2017,852852,702,Singapore,327709659599,18327708223,NaN,NaN,341863349989,318652334419,5612253,1.380925,85.441380,4676.682617,NaN,3941616
21180,2017,852852,704,Viet Nam,213215271369,18327708223,NaN,NaN,223779865815,205276172135,94596642,22370.086670,65.288610,2740.135254,NaN,503029
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1313545

In [ ]:
trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].mean()

In [48]:
trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].fillna(trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].mean())

       수입국가 간 평균 거리
20      5035.583795
62      5035.583795
105     5035.583795
148     5185.053438
190     4953.149089
...             ...
20999   4897.085247
21039   5004.917917
21080   6111.497137
21123   4883.941619
21166   5184.720709

[491 rows x 1 columns]

In [ ]:
trade_df[trade_df['국가명']=='nation'][['수입국가 간 평균 거리']].fillna(trade_df[trade_df['국가명']=='nation'][['수입국가 간 평균 거리']].mean())

In [55]:
trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].mean()

수입국가 간 평균 거리    5035.583795
dtype: float64

In [56]:
trade_df[trade_df['국가명']=='New Zealand'][['수입국가 간 평균 거리']].mean()

수입국가 간 평균 거리    13555.548299
dtype: float64

In [57]:
trade_df[trade_df['국가명']=='New Zealand'][['수입국가 간 평균 거리']].fillna(trade_df[trade_df['국가명']=='New Zealand'][['수입국가 간 평균 거리']].mean())

       수입국가 간 평균 거리
25      13546.89001
67      11524.01998
110     12433.00957
153     13865.20639
195     13119.29740
...             ...
21004   14289.95764
21044   13364.39246
21085   13979.93076
21128   13648.23703
21171   13840.59416

[500 rows x 1 columns]

In [ ]:
trade_df[trade_df['국가명']=='Kuwait'][['수입국가 간 평균 거리']].fillna(5035.583795)

In [39]:
trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]['국가명'].value_counts()

New Zealand             8
Egypt                   4
South Africa            3
Iran                    3
USA                     3
Singapore               3
Belgium                 3
United Arab Emirates    3
Switzerland             3
Germany                 3
Turkey                  3
Guatemala               3
Kuwait                  3
Kazakhstan              3
Japan                   3
Chile                   3
Russian Federation      3
China, Hong Kong SAR    3
India                   3
Canada                  3
Saudi Arabia            3
Malaysia                3
Australia               3
Austria                 3
Mexico                  3
Netherlands             3
Indonesia               3
Peru                    3
Poland                  3
United Kingdom          3
France                  3
Italy                   3
Viet Nam                3
Myanmar                 3
Spain                   3
Norway                  3
China                   3
Sri Lanka               2
Czechia                 2
Mongolia                2
Algeria                 2
Brazil                  2
Philippines             2
Name: 국가명, dtype: int64

In [62]:
lists = list(trade_df[trade_df['수입국가 간 평균 거리'].isnull()]['국가명'].unique())

In [63]:
lists

['Kuwait',
 'China, Hong Kong SAR',
 'Saudi Arabia',
 'Australia',
 'Iran',
 'United Kingdom',
 'Mexico',
 'Philippines',
 'Singapore',
 'Viet Nam',
 'Egypt']

In [64]:
for nation in lists:
    trade_df[trade_df['국가명']=='{}'.format(nation)][['수입국가 간 평균 거리']].fillna(trade_df[trade_df['국가명']=='{}'.format(nation)][['수입국가 간 평균 거리']].mean())
    
#     trade_df[trade_df['국가명']=='a'][['수입국가 간 평균 거리']] = trade_df[trade_df['국가명']=='a'][['수입국가 간 평균 거리']].fillna(b)

In [65]:
trade_df['수입국가 간 평균 거리'].isna().sum()

22

In [27]:
trade_df

,기준연도,품목코드,국가코드,국가명,국가 전체 품목 수입금액,해당 품목 전세계 총 수입금액,해당 국가 해당 품목 관세율,수입국가 간 평균 거리,GDP,이전 GDP,인구,공식환율,비즈니스 용이성점수,해당 국가와 한국과의 거리,해당 연도 해당 국가의 해당 품목 수입금액,내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3.416326e+06,7657
1,2017,190590,36,Australia,228441691195,19480986257,0.0,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,4.387470e+08,5294788
2,2017,190590,40,Austria,166475020975,19480986257,0.0,4403.247293,417237869116,395568644341,8797566,1.139000,78.856460,8289.029297,4.532064e+08,335818
3,2017,190590,56,Belgium,406412223480,19480986257,0.0,3980.375563,502698069367,475739588765,11375158,1.139000,72.409200,8722.114258,7.065245e+08,173709
4,2017,190590,76,Brazil,150749493921,19480986257,18.0,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,3.132965e+07,122850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21184,2017,852852,784,United Arab Emirates,270954907547,18327708223,NaN,5643.250737,385605506855,357045064670,9487203,3.672500,77.434350,6909.236328,2.056493e+08,881214
21185,2017,852852,792,Turkey,233799651234,18327708223,NaN,4123.461111,858988610574,869683121563,81101892,3.648133,69.378820,7967.700684,1.330809e+08,9545535
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1313545
21187,2017,852852,826,United Kingdom,641332371112,18327708223,NaN,4071.487776,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,1.142794e+09,19876811
21188,2017,852852,842,USA,2405276626657,18327708223,NaN,8356.072383,19519353692000,18714960538000,324985539,1.000000,83.352553,11065.702150,5.496100e+09,152988098

In [26]:
trade_df.isna().sum()

기준연도                                0
품목코드                                0
국가코드                                0
국가명                                 0
국가 전체 품목 수입금액                       0
해당 품목 전세계 총 수입금액                    0
해당 국가 해당 품목 관세율                   129
수입국가 간 평균 거리                       22
GDP                                 0
이전 GDP                              0
인구                                  0
공식환율                                0
비즈니스 용이성점수                          0
해당 국가와 한국과의 거리                      0
해당 연도 해당 국가의 해당 품목 수입금액            21
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액      0
dtype: int64

In [ ]:
trade_df['수입국가 간 평균 거리'].isnull()

In [ ]:
trade_df

In [ ]:
trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]

In [ ]:
trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]['품목코드'].value_counts()

In [ ]:
trade_df[trade_df['해당 국가 해당 품목 관세율'].isnull()]['국가명']

In [ ]:
trade_df.isna().sum()

In [ ]:
trade_df['국가명'].unique()

In [ ]:
trade_df['해당 국가 해당 품목 관세율'].unique()

In [ ]:
trade_df['해당 국가 해당 품목 관세율']

In [67]:
test_df = pd.read_csv('Test_KOTRA_0525.csv')

In [69]:
test_df.columns=['기준연도', '품목코드', '국가코드', '국가명', '국가 전체 품목 수입금액', '해당 품목 전세계 총 수입금액','해당 국가 해당 품목 관세율', '수입국가 간 평균 거리','GDP', '이전 GDP', '인구', '공식환율', '비즈니스 용이성점수', '해당 국가와 한국과의 거리','해당 연도 해당 국가의 해당 품목 수입금액', '내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액']

In [70]:
test_df.isna().sum()

기준연도                                  0
품목코드                                  0
국가코드                                  0
국가명                                   0
국가 전체 품목 수입금액                         0
해당 품목 전세계 총 수입금액                      0
해당 국가 해당 품목 관세율                     625
수입국가 간 평균 거리                          3
GDP                                   0
이전 GDP                                0
인구                                    0
공식환율                               3488
비즈니스 용이성점수                            0
해당 국가와 한국과의 거리                        0
해당 연도 해당 국가의 해당 품목 수입금액               3
내년 해당 국가가 해당 품목을 한국으로부터 수입한 금액    21189
dtype: int64

In [78]:
test_df[test_df['해당 연도 해당 국가의 해당 품목 수입금액'].isna()]['국가명'].value_counts

<bound method IndexOpsMixin.value_counts of 4714    Guatemala
4732     Viet Nam
4734        Spain
Name: 국가명, dtype: object>